/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
.btn{
    border-radius: .25rem
}
a:hover{
    text-decoration: none;
}
#footer-logo{
    text-decoration: none;
}
thead {
    border-top: none; /* Example: 2px solid red border */
}
.table>:not(:first-child) {
    border-top:0px;
}